# --- プロジェクト固有 ---
G1M/*
!G1M/Assets/
!G1M/Assets/Scripts/**
**/node_modules/
.env

# --- macOS / Windows共通 ---
.DS_Store
Thumbs.db

# --- Git自身に関する設定 ---
*.swp
*.lock

g1m_reference/*
refer/
g1m.db
wt/

# --- ビルド成果物・環境 ---
target/
g1m-node/target/
**/.venv/
**/__pycache__/

installer/exe/
installer/target/

dist/
db/